* {
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: "Roboto Condensed", sans-serif;
    color:#00246B;
    /* background-color: #8AB6F9; */
}
.body{
   
}
/* navbar */
.navbar{

  position: sticky;
  top:0;
  backdrop-filter: blur;
  border-bottom: 1px solid #afb3ba;

   
}
.logo{
 
}
.nav-heading{
   width:600px;
   /* display: flex; */
}
.nav-heading{
   font-size: 35px;
}
.nav-heading:hover{
  color:aliceblue;
}
.nav-items{
   display: flex;
   justify-content: space-around;
   padding-top: 1rem;
   
}
.items-container{
  width:600px;
  display:flex;
  justify-content: space-between;
}
.items{
  font-size: 22px;
  font-weight: 100px;
  list-style: none;
}
.nav-link{
  text-decoration: none;
}
.nav-link:hover{
  color:aliceblue;
}

/* Hero */
.hero-section{
  display:flex;
  justify-content: space-between;
  margin-top: 1rem;
}
.img-hero{
  margin-left: 10rem;
  border-radius: 10%;
}
.hero-heading{
  margin-top: 2rem;
  font-size: 40px;
  
}
.hero-heading1{
  text-align: left;
  /* margin-left: 25px; */
}
.hero-right{
  width:1164px;
  flex-wrap:wrap;
}
.hero-description{
  width:1000px;
  /* margin-left: 30px; */
  flex-wrap: wrap;
 
}
.p{
  width:918px;
  margin-top: 10px;
  font-size: 25px;
  flex-wrap: wrap;
}
/* Educational Qualification */

.Education{
  width:100%;
  height: 575px;
  display:flex;
  margin: 0 auto;
  margin-top: 50px;
  background-color: tomato;
    /* border-bottom: 1px solid #afb3ba; */
}
/* .left-right{
  display:flex;
  justify-content: space-between; 
  width:1720px;
  height: 575px;
  background-color: aqua;
  margin: 0 auto;
} */
.Education-heading{
  width:1741px;
  text-align: center;
  font-size: 30px;
  margin-left: 72px;
}

.date-container{
  /* position: absolute; */
  margin-top: 20px;
  width:250px;
  height:50px;
  background-color: black;
  margin-left: 167px;
  border-radius: 53%;
}
.date{
  /* position:relative; */
  width:135px;
  margin-left:58px;
  margin-top: 15px;
  background-color: black;
  color:aliceblue;
}
.date-name{
display: flex;
width:918px;
margin-bottom: 20px;
margin-top: 20px;

}
.name{
  /* position: absolute; */
  font-size: 25px;
  margin-left: 1rem;
  margin-top: 25px;
}

.education-left{
  width:937px;
  height:373px;
}
.education-right{
   width:300px;
   background-color: beige;
  
}
.education-right img{
  width:280px;
  text-align: center;
  display: block;
  margin: 0 auto;
}